@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Rubik:ital,wght@1,900&display=swap');


.header {
    z-index: 10;
    display: flex; 
    position: fixed;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 3px;
    padding: 25px;
    width: 100vw;
    background: rgb(255 255 255 / 100%);
    /* border-bottom: 5px solid mediumseagreen; */
}

/* .header #hidden {
  display: flex;
} */

.header .leftSide .links > a {
    margin-right: 25px;
    color:darkgreen;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

/* Animation for nav link underlines */
.header .leftSide > a::before {
    color: var(--on-background);
    border-bottom: 3px solid;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .header .leftSide > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .header button {
    display: none;
  }

  @media only screen and (max-width: 600px){
    

    /* .header {
      display: flex;
      position: fixed;
      width: 100%;
    }
     */

    /* .leftSide > a {
      display: none;
    } */

    .links {
      display: none;
    }

    .header .leftSide #hidden {
      position: absolute;
      left: 0px;
      /* top: 80px; */
      height: auto;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
    }

    .header .leftSide #hidden button {
      display: flex;
      align-items: center;
    }

 /* .leftSide #hidden > a {
      margin: 10px ; 
      font-size: 30px ;
    } */

    .header .leftSide button {
      display: flex;
    }

    /* .header .leftSide > a {
      display: none;
    } */


   
  }