@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: azure;
  background-color: mediumseagreen;
  justify-content: center;
  
}
